{%- for person in site.data.people -%}
{%- if person.timeline -%}
{%- capture src -%}/assets/materials/{{ person.id | uri_escape }}/timeline.json{%- endcapture -%}
{%- assign url = src | relative_url -%}
<div class="guide-timeline margin-bottom-1" data-src="{{url}}" data-person="{{person.display}}">
  <div class="timeline-header grid-x align-justify align-middle">
    <h5 class="cell auto">{{person.display}}, {{person.cycle}}: {{person.target}}</h5>
    <span class="toggle-timeline cell shrink">(click to expand)</span>
  </div>
  <div class="timeline-content margin-top-1" style="display: none;"> <!-- Hidden by default -->
    <!-- Timeline content will be injected here -->
  </div>
</div>
{%- endif -%}
{%- endfor -%}
