---
# this should make it be processed
---
@import "quotes";

{% for member in site.data.people %}

.chat .chat-history .{{ member.id }}-message {
  background: {{ member.color }};
}
.chat .chat-history .{{ member.id }}-message:after {
  border-color: {{ member.color }} transparent;
    right: 20px;
    top: -15px;
    left: auto;
    bottom:auto;
}

.{{ member.id }} {
  color: {{ member.color }};
}

{% endfor %}

@import "timeline";